<div class='task' [ngClass]="{'written':!task.isEditing, 'complete':task.complete}" dragAndDrop [attr.data-id]='task.id' (click)='openDialog()'>
    <!-- <span *ngIf='!task.isEditing'>{{task.taskText}}</span> -->
    <textarea 
        [attr.data-id]='task.id'
        wtAutofocus
        [value]='task.taskText' 
        (keydown)='handleKeydown($event.key, $event.target.value)'
        (blur)='blur($event.target.value)'
        [rows]='2'
        [readonly]='!task.isEditing'
        class='task-textarea'
    ></textarea>
    <span>{{task.time}}</span>
</div>