<div 
    class='task' 

    [ngStyle]='{"background":task.backgroundColor}' 
    [ngClass]="{'written':!task.isEditing, 'complete':task.complete}" 

    draggableItem 
    [transferData]='{taskId:task.id, isTask:true}'

    (click)='openDialog()'
>
    <textarea 
        class='task-textarea'

        [ngStyle]='{"background":task.backgroundColor}'

        wtAutofocus

        [value]='task.taskText' 
        [rows]='2'
        [readonly]='!task.isEditing'
        
        (keydown)='handleKeydown($event)'
        (blur)='blur($event.target.value)'
    ></textarea>
</div>