@import '../../shared/scss/variables';

.sidebar{
    overflow:auto;
    transition:0.5s;
    width:250px;
    background:$darker;

    position:fixed;
    top:0px;
    left:-250px;
    height:100vh;

    z-index: $sidebarZIndex;

    header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        font-size:1.3em;

        border-bottom:2px solid black;
        margin:5px;
    }
}


.sidebar.open{
    transition:0.5s;
    left:0px;
}