@import 'shared/scss/variables';

header{
    width:100%;
    display:grid;
    grid-template-columns: 44px auto;
    align-items:center;
    background:$middle;
}

.week-columns{
    display:flex;
    max-width: 100vw;
    min-height:100%;
    overflow-x: auto;
    overflow-y:hidden;
}