@import 'scss/variables';

header{
    position: relative;
    width:100%;

    display:flex;
    justify-content: center;

    background:$middle;

    i{
        position: absolute;
        left:0px;

        top:13px;
    }
}

.week-columns{
    display:flex;
    min-width: 100vw;
    overflow: auto;
}