@import 'shared/scss/variables';

header{
    position: relative;
    width:100%;

    display:grid;
    grid-template-columns: 44px auto;
    align-items:center;
    background:$middle;
}

.week-columns{
    display:flex;
    min-width: 100vw;
    overflow: auto;
}