@import '../../scss/variables';

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:10px;
    i{
        margin:5px;
        font-size:2.5em;
    }
}

main{
    .month{
        width:100%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        cursor: default;

        .day-header{
            background:$darkest;
            color:white;
        }

        span{
            border:1px solid black;
            padding:5px;
            text-align:center;
        }
    }
}